.header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    margin-top: 20px;
}

.linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 200px;
} 

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: roboto;
}

.logo {
    margin: 0;
    font-size: 24px;
    padding-left: 200px;
}

.link, .heroSubtext {
    font-size: 18px;
    color: #E5E7EB;
}

.div1 {
    background-color: #1F2937;
}

.hero {
    padding: 148px 200px 120px;
    display: flex;
    
}

.heroImage {
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.heroText {
    flex: 1;
}

.heroMainText {
    font-size: 48px;
    font-weight: bolder;
}

.logo, .heroMainText {
    color: #F9FAF8;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: bold;
    padding: 7px 30px;
    border-radius: 7px;
    display: inline-block;
    margin: 15px 0;
    font-size: 18px;
}





