.header {
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    padding-top: 20px;
    background-color: #1F2937;
}

.linkList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding-right: 200px;
} 

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: roboto, arial;
}

.logo {
    margin: 0;
    font-size: 24px;
    padding-left: 200px;
}

.link, .heroSubtext {
    font-size: 18px;
    color: #E5E7EB;
}

.div1 {
    background-color: #1F2937;
}

.hero {
    padding: 158px 200px 130px;
    display: flex;
    gap: 40px;
    
}

.heroImage {
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.heroText {
    flex: 1;
}

.heroMainText {
    font-size: 48px;
    font-weight: bolder;
}

.logo, .heroMainText {
    color: #F9FAF8;
}

.button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-weight: bold;
    padding: 7px 35px;
    border-radius: 7px;
    display: inline-block;
    margin: 15px 0;
    font-size: 18px;
}

.header2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin: 40px 0;
    text-align: center;
}

.box {
    border: 4px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 20px;
}

.boxsubtext {
    font-size: 18px;
    color: gray;
    width: 150px;
    text-align: center;
}

.information {
    display: flex;
    flex-direction: column;
    margin-bottom: 122px;;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
    font-weight: 300;
}

.author {
    font-weight: bold;
    font-size: 24px;
    text-align: right;
}

.quoteBox {
    background-color: #E5E7EB;
    padding: 100px 275px;
}

.callBox {
    background-color: #3882F6;
    display: flex;
    padding: 50px 100px;
    border-radius: 10px;
}



.calltext1 {
    font-weight: bold;
    font-size: 25px;
    color: white;
}

.calltext2 {
    color: #E5E7EB;
}

.button2 {
    color: white;
    border: 2px solid white;
    padding: 7px 35px;
    border-radius: 7px;
    font-size: 18px;
}

.calltext {
    flex: 1;
}

.buttoncont {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call {
    margin: 100px 185px;
}

.footer {
    background-color: #1F2937;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}